.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 1.5em;
}

.table {
	border-collapse: collapse;
	width: 80%;
}

.table th,
.table td {
	border: 1px solid #ddd;
	padding: 1%;
}

.table th {
	background-color: #161515;
}
.link{
  color: white;
  cursor: pointer;
}