h1, h2, h3, h4, p, div {
    color: white;
    text-align: center;
}
body{
    background-color: rgb(39, 38, 38);
}

button{
    cursor: pointer;
    background-color: rgb(58, 55, 55);
}

button:hover{
    background-color: rgb(43, 41, 41);
}

button:active{
    background-color: rgb(34, 31, 31);
}

input::placeholder{
    color: white;
}

#usPic{
    width: 30%;
    height: 100%;
    border-radius: 50%;
}

a{
    text-decoration: none;
}