body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 40px;
	justify-content: stretch;
}

.head {
	grid-column-start: 2;
	grid-row-start: 1;
	background-color: rgba(105, 134, 136, 0.5);
	text-align: center;
}

.main-sec {
	grid-column-start: 1;
	grid-row-start: 1;
	display: grid;
	row-gap: 40px;
}

.main-sec__txt-block {
	background-color: rgba(105, 134, 136, 0.5);
}

.main-sec__left-block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 40px;
}

.main-sec__img {
	grid-column-start: 2;
}

.main-sec__left-block__mini-blocks {
	grid-row-start: 1;
	display: grid;
	row-gap: 40px;
	justify-content: center;
}

.main-sec__all-table,
.main-sec__nice-form,
.main-sec__thx {
	grid-column-start: 1;
	grid-auto-rows: 40px;
	width: 100px;
	background-color: rgba(105, 134, 136, 0.5);
}

@media only screen and (max-width: 1279px) {
	body {
		margin: 0%;
		display: block;
	}

	.main-sec__txt-block {
		margin-top: 10%;
	}

	.head {
		position: fixed;
		width: 100%;
		background-color: rgba(105, 134, 136, 1);
	}

	.main-sec__left-block {
		grid-template-columns: 1fr;
		row-gap: 40px;
	}

	.main-sec__all-table {
		grid-column-start: 1;
	}

	.main-sec__nice-form {
		grid-column-start: 2;
	}

	.main-sec__thx {
		grid-column-start: 3;
	}

	.main-sec__img {
		grid-column-start: 1;
		grid-row-start: 2;
	}

	.main-sec__left-block__mini-blocks {
		justify-content: space-around;
	}
}

/*colors

1 - светлый, 5 - темный

#06C2A8 - 3
#20A18F - 4
#039380 - 5
#54EBD6 - 2
#91EBDF - 1
*/
